bcrypt==4.3.0
cached-property==2.0.1
cffi==1.17.1
chevron==0.14.0
cryptography==45.0.6
ecdsa==0.19.1
frozendict==2.4.6
genanki==0.13.1
passlib==1.7.4
pyasn1==0.6.1
pycparser==2.22
python-jose==3.5.0
python-multipart==0.0.20
PyYAML==6.0.2
rsa==4.9.1
six==1.17.0
vboxapi==1
